* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background: url(../img/Paris.svg) no-repeat center; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 5px 10px;
}

.location {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    align-items: center;
}

.location h1 {
    font-family: 'cartograph-cf', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}

#location-icon {
    height: 20px;  
}

/* Hero Section */
.today-date {
    text-transform: capitalize;
    font-family: 'sculpin';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 15px;
}

/* Forecast */
.weather-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 10%;

}

#weather-icon {
    width: 170px;
}

.weather-info {
    font-family: 'sculpin';
    letter-spacing: 0.05em;
    font-size: 1em;
}

.temperature {
    font-family: 'sculpin';
    font-size: 2.5em;
    padding-top: 10px;
}

/* Afficher les détails de la météo */
.weather-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.day-forecast {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.info {
    border: 1px solid;
    height: 50px;
    width: 50px;

}